In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import urllib.request, json
import requests
from requests import Request, Session
from requests.auth import HTTPBasicAuth
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects

In [ ]:
from datetime import datetime
import datetime as dt
import pytz

In [ ]:
from pandas import *

In [ ]:
from dateutil import tz

# **Stock data preparation**

Function sourcing data from Financial Modelling Prep API

**Please Input API key below prior to running**

In [ ]:
fmpapi='[*]' #input api key

In [ ]:
def fmp_data(ticker): #Hourly data
  with urllib.request.urlopen('https://financialmodelingprep.com/api/v3/historical-chart/1hour/'+ticker+'?apikey='+fmpapi) as url:
    data = json.loads(url.read().decode())
    df = pd.DataFrame(json_normalize(data))
    df['ticker'] = ticker
    df['date'] = pd.to_datetime(df['date'])
    df['timestampGMT']= df['date'].dt.tz_localize('US/Eastern').dt.tz_convert('UTC')
    df = df.sort_values(['ticker','timestampGMT'],ascending=True)
    return df

In [ ]:
def sp500():
  with urllib.request.urlopen('https://financialmodelingprep.com/api/v3/sp500_constituent?apikey='+fmpapi) as url:
    data = json.loads(url.read().decode())
    df = pd.DataFrame(json_normalize(data))
    return df
tickers = sp500()

**Populate closing price data for tickers below**

In [ ]:
tickers = ['TSM','V','PG','KO','ABT','AZN','TD','C','GS','CNQ']

In [ ]:
for i in tickers:
    vars()[i] = fmp_data(i)

In [ ]:
frames = [TSM,V,PG,KO,ABT,AZN,TD,C,GS,CNQ]

In [ ]:
df_tickers = pd.concat(
    frames,
    axis=0,
    join="outer",
    ignore_index=False,
    keys=None,
    levels=None,
    names=None,
    verify_integrity=False,
    copy=True,
)

In [ ]:
df_tickers

      close   volume ticker              timestampGMT
410  121.70  1057687    TSM 2021-12-08 15:00:00+00:00
409  121.76   682084    TSM 2021-12-08 16:00:00+00:00
408  121.52   449256    TSM 2021-12-08 17:00:00+00:00
407  121.78   470468    TSM 2021-12-08 18:00:00+00:00
406  121.83   432526    TSM 2021-12-08 19:00:00+00:00
..      ...      ...    ...                       ...
4     59.75   749036    CNQ 2022-03-03 15:00:00+00:00
3     59.93   548826    CNQ 2022-03-03 16:00:00+00:00
2     59.65   410093    CNQ 2022-03-03 17:00:00+00:00
1     58.60   464051    CNQ 2022-03-03 18:00:00+00:00
0     58.37   152876    CNQ 2022-03-03 19:00:00+00:00

[4286 rows x 4 columns]

In [ ]:
df_tickers.reset_index(inplace=True, drop=True)

In [ ]:
df_tickers.to_csv('pv.csv')