# QUAAF Returns

#### Import Packages

In [1]:
import numpy as np                      # Linear algebra
import pandas as pd                     # Dataframes
from collections import defaultdict     # For dictionaries of dataframes

pd.options.mode.chained_assignment = None  # default='warn'

#### Load Holding Data

In [2]:
filename = 'holdings-newcol_DD.xlsx'

holdings = pd.ExcelFile(filename)

sheet_names = holdings.sheet_names  # Get list of sheets
sheet_names                         # Print list of sheets

['summary',
 'growth_cad',
 'growth_usd',
 'market_neutral_cad',
 'market_neutral_usd',
 'sustainability_cad',
 'sustainability_usd',
 'thematic_cad',
 'thematic_usd',
 'special_situations_cad',
 'special_situations_usd',
 'conservative_tactical_cad',
 'conservative_tactical_usd',
 'original']

In [4]:
# Load Summary Data
holdings_summary = pd.read_excel(filename, sheet_name = sheet_names[0], header = 5)

In [5]:
# Inspect Data
holdings_summary

                   Month  ... Conservative Tactical      (CAD)[Realized Gain (Loss)]
0    2012-01-31 00:00:00  ...                                                NaN
1    2012-02-29 00:00:00  ...                                                NaN
2    2012-03-31 00:00:00  ...                                                NaN
3    2012-04-30 00:00:00  ...                                                NaN
4    2012-05-31 00:00:00  ...                                                NaN
..                   ...  ...                                                ...
106                  Nov  ...                                                NaN
107                  Dec  ...                                                NaN
108                  Jan  ...                                                NaN
109                  Feb  ...                                                NaN
110                  Mar  ...                                                NaN

[111 rows x 92 columns]

In [6]:
for col in holdings_summary.columns:
    print(col)

Month
Year
Date
Check
QUAAF
Total Holdings (CAD)
CAD Investments
CAD Equivalent of USD Investments
Exchange Rate
USD Investments
Growth (Total)
Growth (Total)[trans]
Growth (Total)[Cost Basis]
Growth (Total)[Unrealized Gain (Loss)]
Growth (Total)[Realized Gain (Loss)]
Market Neutral (Total)
Market Neutral (Total)[trans]
Market Neutral (Total)[Cost Basis]
Market Neutral (Total)[Unrealized Gain (Loss)]
Market Neutral (Total)[Realized Gain (Loss)]
Sustainability (Total)
Sustainability (Total)[trans]
Sustainability (Total)[Cost Basis]
Sustainability (Total)[Unrealized Gain (Loss)]
Sustainability (Total)[Realized Gain (Loss)]
Thematic (Total)
Thematic (Total)[trans]
Thematic (Total)[Cost Basis]
Thematic (Total)[Unrealized Gain (Loss)]
Thematic (Total)[Realized Gain (Loss)]
Special Situations (Total)
Special Situations (Total)[trans]
Special Situations (Total)[Cost Basis]
Special Situations (Total)[Unrealized Gain (Loss)]
Special Situations (Total)[Realized Gain (Loss)]
Conservative Tactical (Total)
Conservative Tactical (Total)[trans]
Growth (CAD)
Growth (CAD)[trans]
Growth (CAD)[Cost Basis]
Growth (CAD)[Unrealized Gain (Loss)]
Growth (CAD)[Realized Gain (Loss)]
Growth (USD)
Growth (USD)[trans]
Growth (USD)[Cost Basis]
Growth (USD)[Unrealized Gain (Loss)]
Growth (USD)[Realized Gain (Loss)]
Market Neutral (CAD)
Market Neutral (CAD)[trans]
Market Neutral (CAD)[Cost Basis]
Market Neutral (CAD)[Unrealized Gain (Loss)]
Market Neutral (CAD)[Realized Gain (Loss)]
Market Neutral (USD)
Market Neutral (USD)[trans]
Market Neutral (USD)[Cost Basis]
Market Neutral (USD)[Unrealized Gain (Loss)]
Market Neutral (USD)[Realized Gain (Loss)]
Sustainability (CAD)
Sustainability (CAD)[trans]
Sustainability (CAD)[Cost Basis]
Sustainability (CAD)[Unrealized Gain (Loss)]
Sustainability (CAD)[Realized Gain (Loss)]
Sustainability (USD)
Sustainability (USD)[trans]
Sustainability (USD)[Cost Basis]
Sustainability (USD)[Unrealized Gain (Loss)]
Sustainability (USD)[Realized Gain (Loss)]
Thematic (CAD)
Thematic (CAD)[trans]
Thematic (CAD)[Cost Basis]
Thematic (CAD)[Unrealized Gain (Loss)]
Thematic (CAD)[Realized Gain (Loss)]
Thematic (USD)
Thematic (USD)[trans]
Thematic (USD)[Cost Basis]
Thematic (USD)[Unrealized Gain (Loss)]
Thematic (USD)[Realized Gain (Loss)]
Special Situations (CAD)
Special Situations (CAD)[trans]
Special Situations (CAD)[Cost Basis]
Special Situations (CAD)[Unrealized Gain (Loss)]
Special Situations (CAD)[Realized Gain (Loss)]
Special Situations (USD)
Special Situations (USD)[trans]
Special Situations (USD)[Cost Basis]
Special Situations (USD)[Unrealized Gain (Loss)]
Special Situations (USD)[Realized Gain (Loss)]
Conservative Tactical      (CAD)
Conservative Tactical      (USD)
Conservative Tactical      (CAD)[Cost Basis]
Conservative Tactical      (CAD)[Unrealized Gain (Loss)]
Conservative Tactical      (CAD)[Realized Gain (Loss)]

#### Data Cleaning

In [7]:
# Extract columns relevant for return by fund group
col_keep = ['Date','Growth (Total)', 'Growth (Total)[trans]',
            'Market Neutral (Total)', 'Market Neutral (Total)[trans]',
            'Sustainability (Total)', 'Sustainability (Total)[trans]',
            'Thematic (Total)', 'Thematic (Total)[trans]',
            'Special Situations (Total)', 'Special Situations (Total)[trans]',
            'Conservative Tactical (Total)', 'Conservative Tactical (Total)[trans]']

holdings_summary = holdings_summary[holdings_summary.columns[holdings_summary.columns.isin(col_keep)]]

In [8]:
# Reset index to date
holdings_summary.set_index('Date', inplace=True)
holdings_summary.index.name = None

In [9]:
# Replace NaNs with 0s (No position = $0 position)
holdings_summary = holdings_summary.fillna(0)

In [10]:
# Inspect cleaned dataframe
holdings_summary

            Growth (Total)  ...  Conservative Tactical (Total)[trans]
2012-01-31               0  ...                                   0.0
2012-02-29               0  ...                                   0.0
2012-03-31               0  ...                                   0.0
2012-04-30               0  ...                                   0.0
2012-05-31               0  ...                                   0.0
...                    ...  ...                                   ...
2020-11-30          167594  ...                                   0.0
2020-12-31          175801  ...                                   0.0
2021-01-31          185987  ...                                   0.0
2021-02-28          194389  ...                                   0.0
2021-03-31          139663  ...                                   0.0

[111 rows x 12 columns]

# Calculate Returns

#### Define functions to calculate returns

In [101]:
def get_returns(fund_num, input_df):
    fund = my_funds[fund_num]                               # pick fund
    trans = my_funds_trans[fund_num]                        # pick corresponding transactions

    df_fund = input_df[fund].reset_index()                     # extract relevant fund data
    df_trans = input_df[trans].reset_index()                   # extract relevant transaction data

    investment_date_index = df_fund.ne(0).idxmax()[fund]    # Index of row with first non-zero value in fund (initial investment)
    df_fund = df_fund.iloc[investment_date_index:]          # Trim leading rows with zeros from fund data
    df_trans = df_trans.iloc[investment_date_index:]        # Trim leading rows with zeros from transaction data
    df_all = df_fund.join(df_trans[trans])                  # Combine fund and transaction data
    df_all.set_index('index', inplace=True)                 # Reset index to dates
    df_all.index.name = None                                # Remove 'index' heading from index

    investment_periods = len(input_df) - investment_date_index # Number of periods fund has been held

    fund_returns = defaultdict(pd.DataFrame)
    fund_return = df_all                                    #pull a fund out of data frame
    
    # Return calcluations
    fund_return['months'] = range(1, 1+len(fund_return))     # number of holding period
    
    fund_return["1m_return"] = round(100*(fund_return[fund]-fund_return[fund].shift(1)-fund_return[trans])/(fund_return[fund].shift(1)),2)
    
    # Set initial investment for benchmarking. Currently using $100
    benchmark = 100
    if(fund_return[trans][0]>0):
        dollar_growth = [benchmark*(1+((fund_return[fund][0]-fund_return[trans][0])/fund_return[trans][0]))]
    else:
        dollar_growth = [benchmark]     # Fix for portfolios that have no holdings
    
    for i in range(1,len(fund_return['1m_return'])):
        dollar_growth.append(dollar_growth[i-1]*(1+fund_return['1m_return'][i]/100))
    
    fund_return['$1_growth'] = dollar_growth
    # fund_return['$1_growth'] = fund_return['$1_growth'].shift(1)*(1+fund_return["1m_return"]/100)
    fund_return["3m_return"] = round(100*((fund_return['$1_growth']-fund_return['$1_growth'].shift(3))/fund_return['$1_growth'].shift(3)),2)
    fund_return["6m_return"] = round(100*((fund_return['$1_growth']-fund_return['$1_growth'].shift(6))/fund_return['$1_growth'].shift(6)),2)
    fund_return["1y_return"] = round(100*((fund_return['$1_growth']-fund_return['$1_growth'].shift(12))/fund_return['$1_growth'].shift(12)),2)
    fund_return["2y_return"] = round(100*((fund_return['$1_growth']-fund_return['$1_growth'].shift(24))/fund_return['$1_growth'].shift(24)),2)
    fund_return["2y_return_annualized"] = round(100*((1+fund_return["2y_return"]/100)**(1/2)-1),2)
    fund_return["3y_return"] = round(100*((fund_return['$1_growth']-fund_return['$1_growth'].shift(36))/fund_return['$1_growth'].shift(36)),2)
    fund_return["3y_return_annualized"] = round(100*((1+fund_return["3y_return"]/100)**(1/3)-1),2)
    fund_return["5y_return"] = round(100*((fund_return['$1_growth']-fund_return['$1_growth'].shift(60))/fund_return['$1_growth'].shift(60)),2)
    fund_return["5y_return_annualized"] = round(100*((1+fund_return["5y_return"]/100)**(1/5)-1),2)
    fund_return["SI_return"] = round(100*((fund_return['$1_growth']-fund_return['$1_growth'][0])/fund_return['$1_growth'][0]),2)
    fund_return['annualized_return'] = round(100*(fund_return['$1_growth']**(12/fund_return['months'])-1),2)


    #########
    # # Taken out Mar 16    
    # trans_neg = fund_return[trans].where(fund_return[trans]<0,0)
    # trans_pos = fund_return[trans].where(fund_return[trans]>0,0)
    # fund_return['money_in_sum'] = trans_pos.expanding(min_periods=1).sum()
    # fund_return['money_out_sum'] = -1*trans_neg.expanding(min_periods=1).sum()
    #     
    # fund_return['net_gains'] = -fund_return['money_in_sum'] + fund_return[fund] + fund_return['money_out_sum']
    # fund_return['unrealized_gains'] = np.where(fund_return[fund] <= 0, 0, (fund_return['net_gains'] - fund_return['money_out_sum']))
    ########

    fund_return['volatility'] = 100*((fund_return['1m_return']/100).expanding(min_periods=1).std())
    fund_return['annualized_volatility'] = fund_return['volatility']*np.sqrt(fund_return['months'])

    fund_returns[fund] = fund_return

    return fund_returns[fund]


def compile_returns(input_df):
    # Extract fund names and transaction names from df
    
    global fundcols
    fundcols = list(input_df.columns.values) 
    global my_funds
    my_funds = fundcols[::2]
    global my_funds_trans
    my_funds_trans = fundcols[1::2]

    # Use a for loop to run get_return on each fund in my_funds & store each df in a list
    global returns_list     #<-- making this global allows you to access the intermediate result later
    returns_list = []

    for i in range(0,len(my_funds)):
        returns = get_returns(i, input_df)
        returns_list.append(returns)
    

    # Use a for loop to select the last row in every df in returns_list
    tails_list = []

    for i in range(0,len(returns_list)):
        tails = returns_list[i].tail(1)
        tails.rename(columns={ tails.columns[0]: "Position" }, inplace = True)
        dropcol = my_funds_trans[i]
        tails.drop(columns=dropcol, inplace=True)
        tails_list.append(tails)
    
    for i in tails_list:
        i.columns = ['Position_Value','Months','1M_Return','$100_Growth','3M_Return','6M_Return','1Y_Return','2Y_Return','2Y_Return_Annualized','3Y_Return','3Y_Return_Annualized','5Y_Return','5Y_Return_Annualized','SI_Return','Annualized_Return','Volatility', 'Annualized_Volatility']

    summary_df = pd.concat(tails_list, axis=0)

    summary_df.insert(0, column = 'Position_Name', value = my_funds)

    # summary_df = summary_df[summary_df['Position_Value'] != 0]  # Drop outdated positions

    summary_df.fillna('-', inplace=True)    # Replace NaNs with "-"

    
    return summary_df

def compile_returns_individual(input_df):
    # Extract fund names and transaction names from df
    
    global fundcols
    fundcols = list(input_df.columns.values) 
    global my_funds
    my_funds = fundcols[2::7]      #<--- we need to get my_funds variable to include the 'Total' column and then it will be identical to what existed before we added the new columns. I think the issue has                                                    something to do with the fact that the funcols variable is iterative. 
    #print(type(my_funds))
    #my_fung = fundcols[2::7]
    #my_funds = my_fung.append(fundcols[0])
    global my_funds_trans
    my_funds_trans = fundcols[1::7]

    # Use a for loop to run get_return on each fund in my_funds & store each df in a list
    global returns_list     #<-- making this global allows you to access the intermediate result later
    returns_list = []

    for i in range(0,len(my_funds)):
        returns = get_returns(i, input_df)
        returns_list.append(returns)
    

    # Use a for loop to select the last row in every df in returns_list
    tails_list = []

    for i in range(0,len(returns_list)):
        tails = returns_list[i].tail(1)
        tails.rename(columns={ tails.columns[0]: "Position" }, inplace = True)
        dropcol = my_funds_trans[i]
        tails.drop(columns=dropcol, inplace=True)
        tails_list.append(tails)
    
    for i in tails_list:
        i.columns = ['Position_Value','Months','1M_Return','$100_Growth','3M_Return','6M_Return','1Y_Return','2Y_Return','2Y_Return_Annualized','3Y_Return','3Y_Return_Annualized','5Y_Return','5Y_Return_Annualized','SI_Return','Annualized_Return','Volatility', 'Annualized_Volatility']

    summary_df = pd.concat(tails_list, axis=0)

    summary_df.insert(0, column = 'Position_Name', value = my_funds)

    # summary_df = summary_df[summary_df['Position_Value'] != 0]  # Drop outdated positions

    summary_df.fillna('-', inplace=True)    # Replace NaNs with "-"

    
    return summary_df

In [102]:
test_fundcol = list(holdings_summary.columns.values)
test_fundcol

['Growth (Total)',
 'Growth (Total)[trans]',
 'Market Neutral (Total)',
 'Market Neutral (Total)[trans]',
 'Sustainability (Total)',
 'Sustainability (Total)[trans]',
 'Thematic (Total)',
 'Thematic (Total)[trans]',
 'Special Situations (Total)',
 'Special Situations (Total)[trans]',
 'Conservative Tactical (Total)',
 'Conservative Tactical (Total)[trans]']

## Holdings Summary Returns

In [103]:
returns_holdings_summary = compile_returns(holdings_summary)
returns_holdings_summary

                            Position_Name  ...  Annualized_Volatility
2021-03-31                 Growth (Total)  ...                24.3314
2021-03-31         Market Neutral (Total)  ...                 14.805
2021-03-31         Sustainability (Total)  ...                      -
2021-03-31               Thematic (Total)  ...                68.7268
2021-03-31     Special Situations (Total)  ...                35.7686
2021-03-31  Conservative Tactical (Total)  ...                617.709

[6 rows x 18 columns]

#### Export summary dataframe

In [104]:
returns_holdings_summary.to_csv('returns_summary.csv')

In [44]:
# Print total portfolio histories
for fund in range(0,len(my_funds)-2):   # Only print Growth, Market Neutral, Sustainability, Thematic
    filename = 'returns_'+my_funds[fund]+'.csv'
    # filename = 'returns_total/returns_'+my_funds[fund]+'.csv'
    returns_list[fund].to_csv(filename)

## Individual Fund Returns

In [154]:
wanted_sheets = sheet_names[1:11]
wanted_sheets

['growth_cad',
 'growth_usd',
 'market_neutral_cad',
 'market_neutral_usd',
 'sustainability_cad',
 'sustainability_usd',
 'thematic_cad',
 'thematic_usd',
 'special_situations_cad',
 'special_situations_usd']

In [155]:
# Load data

individual_holdings = defaultdict(pd.DataFrame)
filename = 'holdings-newcol_DD.xlsx'
for sheet_name in wanted_sheets:
    individual_holdings[sheet_name] = pd.read_excel(filename, sheet_name = sheet_name, header = 5)
    individual_holdings[sheet_name].drop(columns=['Month','Year'], inplace=True)

    # Reset index to date
    individual_holdings[sheet_name].set_index('Date', inplace=True)
    individual_holdings[sheet_name].index.name = None

    # Replace NaNs with 0s (No position = $0 position)
    individual_holdings[sheet_name] = individual_holdings[sheet_name].fillna(0)

In [156]:
individual_holdings['thematic_usd']

            Total  ...  ZYMEWORKS INC[Realized Gain (Loss)]
2012-01-31      0  ...                                  0.0
2012-02-29      0  ...                                  0.0
2012-03-31      0  ...                                  0.0
2012-04-30      0  ...                                  0.0
2012-05-31      0  ...                                  0.0
...           ...  ...                                  ...
2020-11-30  16052  ...                                  0.0
2020-12-31  20849  ...                                  0.0
2021-01-31  20704  ...                                  0.0
2021-02-28   7380  ...                                  0.0
2021-03-31   7240  ...                                  0.0

[111 rows x 58 columns]

In [157]:
#individual_holdings['thematic_usd']
#b = [0,2,9,16,23,30,37,44,51,58,65,72,79,86,93,100,107,114]
#a = np.array([1,5,6])
test2_fundcol = list(individual_holdings['thematic_usd'].columns.values)

ttt = test2_fundcol[2::7]
ttt.insert(0,'Total')
ttt

['Total',
 'Zillow Group Inc. ',
 'SQUARE Inc.',
 'Sea Limited ',
 'Mitek Systems Inc',
 'Mercadolibre Inc',
 'ABBVIE INC',
 'ALECTOR INC',
 'ZYMEWORKS INC']

In [83]:
test3_fundcol = list(individual_holdings['thematic_usd'].columns.values)
test3_fundcol[0]

'Total'

In [158]:
# Get Returns

returns_individual_holdings = defaultdict(pd.DataFrame)

for sheet_name in wanted_sheets:
    #returns_individual_holdings[sheet_name] = compile_returns(individual_holdings[sheet_name])
    returns_individual_holdings[sheet_name] = compile_returns_individual(individual_holdings[sheet_name])

In [125]:
def compile_returns_total(input_df):
    # Extract fund names and transaction names from df
    
    global fundcols
    fundcols = list(input_df.columns.values) 
    global my_funds
    my_funds = fundcols[:2:7]      #gets us a Totals column now
    #my_fung = fundcols[2::7]
    #my_funds = my_fung.append(fundcols[0])
    global my_funds_trans
    my_funds_trans = fundcols[1::7]

    # Use a for loop to run get_return on each fund in my_funds & store each df in a list
    global returns_list     #<-- making this global allows you to access the intermediate result later
    returns_list = []

    for i in range(0,len(my_funds)):
        returns = get_returns(i, input_df)
        returns_list.append(returns)
    

    # Use a for loop to select the last row in every df in returns_list
    tails_list = []

    for i in range(0,len(returns_list)):
        tails = returns_list[i].tail(1)
        tails.rename(columns={ tails.columns[0]: "Position" }, inplace = True)
        dropcol = my_funds_trans[i]
        tails.drop(columns=dropcol, inplace=True)
        tails_list.append(tails)
    
    for i in tails_list:
        i.columns = ['Position_Value','Months','1M_Return','$100_Growth','3M_Return','6M_Return','1Y_Return','2Y_Return','2Y_Return_Annualized','3Y_Return','3Y_Return_Annualized','5Y_Return','5Y_Return_Annualized','SI_Return','Annualized_Return','Volatility', 'Annualized_Volatility']

    summary_df = pd.concat(tails_list, axis=0)

    summary_df.insert(0, column = 'Position_Name', value = my_funds)

    # summary_df = summary_df[summary_df['Position_Value'] != 0]  # Drop outdated positions

    summary_df.fillna('-', inplace=True)    # Replace NaNs with "-"

    
    return summary_df

returns_total_holdings = defaultdict(pd.DataFrame)

for sheet_name in wanted_sheets:
    #returns_individual_holdings[sheet_name] = compile_returns(individual_holdings[sheet_name])
    returns_total_holdings[sheet_name] = compile_returns_total(individual_holdings[sheet_name])

In [159]:
# Look at sample
Total_row = returns_total_holdings['thematic_usd']
return_file = returns_individual_holdings['thematic_usd']
pd.concat([Total_row, return_file], ignore_index=True)

        Position_Name  Position_Value  ...  Volatility Annualized_Volatility
0               Total          7240.0  ...   11.585265             28.377988
1  Zillow Group Inc.              0.0  ...  194.851627            477.287062
2         SQUARE Inc.             0.0  ...   58.825491            144.092438
3        Sea Limited              0.0  ...   55.656808            136.330779
4   Mitek Systems Inc          2683.0  ...    9.037243             22.136635
5    Mercadolibre Inc             0.0  ...   57.854725            141.714556
6          ABBVIE INC          2381.0  ...    3.435758              6.871516
7         ALECTOR INC          1229.0  ...    1.783825              3.567651
8       ZYMEWORKS INC           947.0  ...   17.912088             35.824176

[9 rows x 18 columns]

In [160]:
# Write all individual returns to csv files (SHOULD THIS BE GOING TO SINGLE EXCEL?)
for sheet_name in wanted_sheets:
    #filename = 'returns/returns_individual-'+sheet_name+'.csv'
    filename = 'returns_individual-'+sheet_name+'.csv'
    returns_individual_holdings[sheet_name].insert(0, column='Portfolio', value=sheet_name)
    #returns_individual_holdings[sheet_name].insert(0, column='Portfolio', value=sheet_name, allow_duplicates=True)
    returns_individual_holdings[sheet_name].to_csv(filename)

# Inspect individual portfolio and individual holding

In [161]:
examine_holding = compile_returns_individual(individual_holdings['growth_cad'])
row_total = returns_total_holdings['growth_cad']
examine_holding =pd.concat([row_total, examine_holding], ignore_index=True)
examine_holding

                                       Position_Name  ...  Annualized_Volatility
0                                              Total  ...              24.331407
1  DYNAMIC GLOBAL GROWTH OPPORTUNITIES FUND,SER F...  ...             267.326174
2             LYNWOOD OPPORTUNITIES FUND CL F (1033)  ...              35.433190
3     NEWGEN EQUITY LONG-SHORT FUND LP CLASS F (104)  ...              12.444326
4    EHP ADVANTAGE FUND CL F 2013 LEAD SERIES (101F)  ...             102.638218
5       VANTAGE CLASS F SERIES I 2014 SERIES 1 (201)  ...             133.213582
6         FG GLOBAL OPPORTUNITIES CLASS F SUBS (900)  ...             210.039176
7                          VERTEX FUND CLASS F (301)  ...             277.102180

[8 rows x 18 columns]

In [ ]:
examine_holding_individual = returns_list[1]
examine_holding_individual